

body{
    text-align: center;
    background-color: #a2d2ff;
    color: #ffffff;
    font-family: Happy Monkey, cursive;
    background: linear-gradient(#a2d2ff, rgb(167, 56, 167));
}

.header{
    display:flex;
    align-items: center;
    flex-direction: column;
}

h1, h2, h3, h4, p{
    text-shadow: 0px 0px 1px black;
}

#birthday-image{
    height: 150px;
    width: 150px;
    border-radius:50% ;
    border: 5px solid pink;
}

#age{
    background: pink;
    padding:5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#date{
    background: pink;
    padding:5px 10px;
    border-radius: 5px;
    margin-top:0px;
}

.gift-section{
    margin-top:50px;
}

.gift-img{
    background-image: url("../images/public-domain-vectors-zartG1exNlw-unsplash.jpg");
    height: 400px;
    width: 400px;
    background-size: cover;
    border-radius: 5px;
    border: 5px solid white;
    margin:0 auto;
}

.gift-title{
    margin-bottom: 10px;
}

#happy:hover{
    background-image: url("../images/Happy\ Joy\ GIF\ by\ DAZN.gif");
    background-size: cover;
}

#react:hover{
    background-image: url("../images/Flirty\ Reaction\ GIF\ by\ MOODMAN.gif");
    background-size: cover;
}

#describe:hover{
    background-image: url("../images/Smart\ Genius\ GIF\ by\ YoungerTV.gif");
    background-size: cover;
}

#badass:hover{
    background-image: url("../images/Badass\ Jujutsu\ Kaisen\ GIF.gif");
    background-size: cover;
}
#cheers:hover{
    background-image: url("../images/Excited\ Happy\ New\ Year\ GIF\ by\ HBO.gif");
}

a{
    color:white
}

